#Popup-header > span, #Popup-header > button{
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    text-align: center;
}

#Popup-header > span{
    font-weight: bold;
    font-size: 0.9em;
}

#Popup-header > button{
    border-style: none;
    background-color: transparent;
    transition: 0.3s ease-out;
}

#Popup-header > button:hover{
    color: black;
}